<!DOCTYPE html>
<html lang="en">
<head>
	<title>FUT Gem</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
<!-- Load font awesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<script data-ad-client="ca-pub-7807812674296737" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>

	<section class="limiter">
		<div class="container-login100" style="background-image: url('static/images/fifa_21_img.png');">
			<div class="icon-bar">
				<a target = "_blank" href="https://mobile.twitter.com/fut_gem" class="twitter"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="ads_banner">
				<img src="{{ url_for('static', filename='images/728x90.png')}}" alt="ads">
			</div>
			<div class="wrap-login100" data-aos="fade-up" data-aos-duration="1500">
				<form class="login100-form validate-form" method="post"  action=".">
					<span class="login100-form-title p-b-34 p-t-27">
						Enter a FUTBIN SBC link
					</span>
					<div class="wrap-input100 validate-input" data-validate="Enter a FUTBIN SBC URL">
						<input class="input100" type="link" name="squadLink" placeholder="Link">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Fetch Players
						</button>
					</div>
				</form>
			</div>

			<div class="howitwork">
				<a href="#" data-toggle="modal" data-target="#exampleModalCenter"> How it Works</a>
			</div>

			<div class="ads_banner">
				<img src="{{ url_for('static', filename='images/728x90.png')}}" alt="ads">
			</div>
		</div>
	</section>
	<div id="dropDownSelect1"></div>

		<!-- The social media icon bar -->

	<!-- Modal 
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <iframe  height="315" src="https://www.youtube.com/embed/QC8iQqtG0hg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
-->
		<!-- Experimentation Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <div>1. Visit the page for the SBC you wish to analyse, from the <a href = https://www.futbin.com/squad-building-challenges>FUTBIN SBC Page</a>.</div>
         <img class="tutorial_img" src="{{ url_for('static', filename='images/tutorial_1.PNG')}}">
         <div>2. Apply any desired filters. You do not have to apply any filters.</div>
         <img class="tutorial_img" src="{{ url_for('static', filename='images/tutorial_2.PNG')}}">
         <div>3. Copy the page URL, paste it in the link section and click 'Fetch Players'.</div>
         <img class="tutorial_img" src="{{ url_for('static', filename='images/tutorial_3.PNG')}}">
       </div>
     </div>
   </div>
 </div>

	
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	<script>
		 AOS.init();
		 $('.close').click(function() {
    location.reload();
});
	</script>

</body>
</html>
